.titleRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.iconsColumn {
  display: flex;
  flex-direction: row;
}
.image {
  width: 6rem !important;
  height: 6rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.title {
  font-weight: 300 !important;
  line-height: 1 !important;
  letter-spacing: -0.05rem;
}
