.root {
  font-family: monospace;
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #000;
  color: #ddd;
  cursor: pointer;
  font-weight: 600;

  letter-spacing: 1px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.root:hover {
  color: #fff;
}
.root:hover * {
  color: #fff;
}
.root:active {
  color: #fff;
  box-shadow: 1px 1px 0px #ddd inset;
}
.root:active * {
  color: #fff;
  box-shadow: 1px 1px 0px #ddd inset;
}
